/* General styling  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#index_body {
  background-image: url("/FIT---Fitness-Apparel-Inventory-Tracker/img/background-warehouse.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* First Page Styling */

.logo {
  width: 120px;
  border-radius: 100%;
}

.intro {
  color: #ECF9FF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 40%;
  margin: 0 auto;
}

.intro h1, h2, p {
  line-height: 1.5;
  font-weight: 700;
  text-shadow: 2px 2px #000;
}

.intro h1 {
    font-size: 2rem;
}

.intro h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    letter-spacing: 5px;
    padding-top: 10px;
}

.intro p {
    font-size: 1rem;
    padding: 5px;
}

#btn_1 {
    padding: 5px 15px;
    border-radius: 5px;
    font-family: 'Montserrat';
    color: #fff;
    background-color: #144272 ;
    border: 1px solid #fff;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 1500ms;
}

#btn_1:hover {
    opacity: 0.8;
    transition: 1500ms;
}

/* Login Page Styling */

#login_body {
  height: 100vh;
  background-image: url("/FIT---Fitness-Apparel-Inventory-Tracker/img/background-warehouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#login_body .container {
  min-height: 100vh;
}

#login_body .col-lg-4 {
  border-radius: 40px 15px 15px 15px;
  padding: 15px;
}

.login_form h1 {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 1.8rem;
}

#btn_login {
  background-color: #144272;
  color: #fff;
  transition: 400ms;
}

#btn_login:hover {
  font-size: large;
  transition: 400ms;
}

.login_form .form-text {
  margin-top: 15px;
  font-weight: 900;
  text-align: center;
  font-size: 1.1rem;
  color: #144272;
}

/* Sign Up Page Styling */

#signup_body {
  background-image: url("/FIT---Fitness-Apparel-Inventory-Tracker/img/background-warehouse.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#signup_body .col-lg-8 {
  border-radius: 40px 15px 15px 15px;
  padding: 15px;
}

.signup_form label {
  font-weight: 600;
}

.signup_form label.check {
  font-weight: 500;
  text-decoration: underline;
}

#btn_signup {
  background-color: #144272;
  color: #fff;
  transition: 400ms;
}

#btn_signup:hover {
  font-size: large;
  transition: 400ms;
}

/* System Page styling */

#system_body img {
  width: 70px;
  border-radius: 100%;
}